*.pdf
*.log
*.aux
*.fls
*.fdb_latexmk
*.bak*
*.docx
*.out
.directory
.Rhistory
*.dpth
*.gz
*.md5
*.json

# table of contents tex file
*.toc

# images
*.jpg
*.png
*.svg

# bib files
*.bbl
*.bcf
*.blg
*.run.xml

#dirs
svg-inkscape/
